/* 전체영역 */
.managmentCommon {
  width: 1320px;
  font-family: "SCDream1";
  margin: 0 auto;
}

/* 관리자와 상단 텍스트 */
.commonTop {
  height: 150px;
}

/* "회원관리" 텍스트 */
.topbar {
  float: left;
  background-color: rgb(0 110, 82);
  padding: 30px 20px;
  width: 1200px;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 20pt;
  color: white;
  font-weight: 7006;
}

/* 메뉴바와 실제 내용영역 */
.commonUnder {
  clear: both;
}
/* 실제 내용 */
.managmentContent {
  width: 1200px;
  float: left;
  margin: 0 auto;
  margin-left: 50px;
}

/* ----------------------------------- */

/* .noticeWritePage {
  font-family: "SCDream1";
  width: 1400px;
  margin: auto;
} */
.SubText {
  width: 80%;
  margin: auto;
  font-size: 20pt;
  font-weight: 700;
  margin-top: 80px;
}

.noticeForm {
  width: 70%;
  margin: auto;
}

/* .NoticeWriter {
  padding: 15px 10px;
} */

.NoticeWriter .title {
  float: left;
  width: 100px;
  height: 50px;
  background-color: rgb(0 110, 82);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 15pt;
  border: rgb(0 110, 82) solid;
}

textarea {
  height: 300px;
  resize: none;
}

#noticeContent > p {
  height: 300px;
  line-height: 300px;
}
textarea,
.NoticeWriter input {
  width: 80%;
}

.NoticeWriter input {
  height: 50px;
}

.NoticeWriter select {
  width: 150px;
  height: 50px;
}

.formBtn {
  width: 250px;
  margin: auto;
}

.formBtn button {
  width: 80px;
  margin: 10px 20px;
  padding: 8px 20px;
}
.files {
  width: 88%;
  margin-left: 10px;
}

.files p {
  width: 100px;
  height: 50px;

  background-color: rgb(0 110, 82);
  margin-bottom: 0;
  color: white;
  line-height: 50px;
  text-align: center;
}

.formBtn {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

/* .saveBtn {
  background-color: green;
  border-color: green;
} */

/* 파일관련 */

.fileInput input {
  display: none;
}

.fileInput p {
  /* border: solid; */
}
.fileInput label {
  border: solid 1px #006e52;
  display: inline-block;
  padding: 10px 10px;
  border-right: none;
  width: 145px;
  background-color: #006e52;
  font-size: 15pt;
  /* font-weight: 500; */
  color: white;
}

.fileInput span {
  border: solid 1px;
  display: inline-block;
  width: 695px;
  padding: 10px 10px;
  font-size: 15pt;
  /* margin: 0px 40px; */
}
